<form method="post" action="{{ path('app_fav_add', {'idLivre': livre.idLivre}) }}"
      onsubmit="return confirm('Are you sure you want to add this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('addFav' ~ livre.idLivre) }}">
    <button class="btn">Ajouter Favoris</button>
</form>
