<form method="post" action="{{ path('app_fav_delete', {'idLivre': idLivre}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delFav' ~ idLivre) }}">
    <button class="btn"> + Favoris</button>
</form>
